<nav class="navbar">
  <div class="brand">
    <a routerLink="/">
      <img src="assets/logo.png" alt="logo" class="logo" />
      Tejas Gaikwad
    </a>
  </div>

  <!-- Hamburger button (only visible on mobile) -->
  <button class="menu-toggle" (click)="isMenuOpen = !isMenuOpen">
    ☰
  </button>

  <!-- Navigation links -->
  <ul class="nav-links" [class.active]="isMenuOpen">
    <li>
      <a routerLink="/">
        <img src="assets/icons/home.svg" alt="Home" class="nav-icon" />
        Home
      </a>
    </li>
    <li>
       <a routerLink="/about" (click)="isMenuOpen = false">
        <img src="assets/icons/about.svg" alt="About" class="nav-icon" />
        About
      </a>
    </li>
    
    <li>
       <a routerLink="/skills" (click)="isMenuOpen = false">
        <img src="assets/icons/skills.svg" alt="Skills" class="nav-icon" />
        Skills
      </a>
    </li>
    <li>
       <a routerLink="/projects" (click)="isMenuOpen = false">
        <img src="assets/icons/projects.svg" alt="Projects" class="nav-icon" />
        Projects
      </a>
    </li>
    <li>
      <a routerLink="/contact" (click)="isMenuOpen = false">
        <img src="assets/icons/contact.svg" alt="Contact" class="nav-icon" />
        Contact
      </a>
    </li>
  </ul>

  <!-- Resume button -->
  <a href="assets/TEJAS_GAIKWAD_Resume.pdf" download class="resume-btn">
    Resume
  </a>
</nav>
